@media(max-width:876px){

header .container{
    height:80px;
}

/* sakrij desktop dugme */
.phone-btn{
    display:none;
}

/* prikazi hamburger */
.menu-btn{
    display:block;
}

/* meni */

nav{

    position:fixed;

    top:0;
    right:-100%;

    width:300px;
    max-width:85%;

    height:100vh;

    background:#fff;

    transition:.4s;

    box-shadow:-10px 0 30px rgba(0,0,0,.15);

    z-index:1000;

    padding-top:110px;

}

/* kada je otvoren */

nav.active{
    right:0;
}

nav ul{

    display:flex;
    flex-direction:column;
    gap:0;

}

nav li{
    list-style:none;
}

nav a{

    display:block;

    padding:20px 35px;

    font-size:18px;

    border-bottom:1px solid #eee;

}

nav a::after{
    display:none;
}

/* dugme telefona u meniju */

.mobile-phone-btn{
    display: block;
    position:absolute;

    left:20px;
    right:20px;
    bottom:30px;

    text-align:center;

    text-decoration:none;

    background:#0056b3;
    color:white;

    padding:16px;

    border-radius:50px;

    font-weight:600;
}
.mobile-phone-btn:hover{
    
    background:#0056b3;
    color: white;
    transform:translateY(-2px);

    box-shadow:0 10px 20px rgba(37,99,235,.25);
}

}