/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8fafc;
}

/* CONTAINER */

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* HEADER */

header{

    width:100%;
    background:#fff;

    box-shadow:0 3px 15px rgba(0,0,0,.05);

    position:sticky;
    top:0;
    z-index:999;

}

/* HEADER CONTENT */

header .container{

    display:flex;
    justify-content:space-between;
    align-items:center;

    height:90px;

}

/* LOGO */

.logo{

    display:flex;
    align-items:center;
    gap:15px;

}

.logo-icon{

    width:55px;
    height:55px;

    border-radius:50%;

    background:#2563eb;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:26px;
    color:white;

}

.logo-text h2{

    font-size:24px;
    color:#1e293b;
    letter-spacing:1px;

}

.logo-text p{

    color:#64748b;
    font-size:14px;

}

/* NAVIGATION */

nav ul{

    display:flex;
    list-style:none;
    gap:35px;

}

nav a{

    text-decoration:none;
    color:#334155;
    font-weight:500;

    transition:.3s;

    position:relative;

}

/* Hover linija */

nav a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-6px;

    width:0;
    height:2px;

    background:#2563eb;

    transition:.3s;

}

nav a:hover{

    color:#2563eb;

}

nav a:hover::after{

    width:100%;

}

/* BUTTON */

.phone-btn{

    text-decoration:none;

    background:#2563eb;
    color:white;

    padding:14px 24px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

}

.phone-btn:hover{

    background:#1d4ed8;

    transform:translateY(-2px);

    box-shadow:0 10px 20px rgba(37,99,235,.25);

}